.description {
  font-size: 1.6rem;
}

.slider {
  flex-grow: 1;
  justify-content: center;
}

.thumb {
  display: none;
}

.bar {
  background: linear-gradient(
    to right,
    #00c3ff,
    #00ff85,
    #ffeb3b,
    #ff4e50,
    #8f1b1c
  );
}
