.like {
    display: none;
    color: var(--mantine-color-red-7);
    position: absolute;
    top: 10px;
    right: 10px;
}

.card:hover .like {
    cursor: pointer;
    display: block;
}

.like:hover svg {
    color: var(--mantine-color-red-9);
    transform: scale(1.2);
}

.heartSolid {
    display: none;
}

.heartOutline {
    display: block;
}

.like:hover .heartOutline {
    display: none;
}

.like:hover .heartSolid {
    display: block;
}

.cityName {
    font-size: 1.4rem;
    font-weight: 500; 
    margin: 0;
}

.currentTemp {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.desc {
    font-size: 1.2rem;
    font-weight: 400;
}